.python-version
__pycache__
.coverage
*.code-workspace
.envrc
*.idea
*.prof

dump.c
dump

c/cmake_install.cmake
c/CMakeCache.txt
c/aaa_stdlib.a
c/Makefile

aaa-stdlib/target/*
aaa-stdlib-user/target/*
