[tool.poetry]
name = "aaa"
version = "0.1.0"
description = ""
authors = ["Luuk Verweij <luuk_verweij@msn.com>"]
license = "BSD"

[tool.poetry.dependencies]
python = "^3.10"
parser = {git = "ssh://git@github.com/lk16/parser.git", tag = "v0.3.1"}

[tool.poetry.dev-dependencies]
pdbpp = "^0.10.3"
pytest = "^7.0.1"
pytest-cov = "^3.0.0"
pre-commit = "^2.17.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
